<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
<form method="POST">
    <label for="nomnbre">Usuario:</label>
    <input type="nombre" id="nombre" name="nombre" placeholder="nombre" required>
    
    <label for="contra">Contraseña:</label>
    <input type="contra" id="contra" name="contra" placeholder="Contraseña" required>
    
    <button type="submit">Iniciar sesión</button>
</form>
<a href="{{ url_for('auth.registro_form') }}">¿No tienes cuenta? Regístrate</a>
</body>
</html>